.nav{
    width: 100%;
    display: flex;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #131921;
}

.nav_logo{
       width: 100px;
       margin-top: 20px;
       object-fit: contain;
       padding-left: 20px;
}

.nav_search{
    /* width: 100%; */
    display: flex;
    flex: 1;
    margin-left: 20px;
}

.nav_search > input{
    height: 15px;
    width: 100%;
    border: none;
    padding: 10px;
    
}

.nav_info{
    margin-left: 10px;
    display: flex;
    justify-content: space-evenly;
    padding-right: 10px;
    margin-bottom: 10px;
       
} 

.nav_link{
      color: white;
      text-decoration: none;
      padding-right: 15px;
}

.nav_topline1 {
    font-size: 10px;
}

.nav_topline2{
    font-size: 13px;
    font-weight: 800;
}

.nav_searchbtn{
    padding: 5px;
    padding-top: 7;
    padding-bottom: 28px;
    height: 22px !important;
   background-color: #cd9842;
   cursor: pointer;
}

.nav_searchbtn:hover{
       background-color: #eea632;
}

.nav_checkout{
    margin-top: 8px;
     display: flex;
}